<div class="main-card_container">
  <div class="main-card_image">
    <img src="https://plus.unsplash.com/premium_photo-1663047716627-e0b6c878761e?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MXx8ZGV2ZWxvcGVyfGVufDB8fDB8fHww&w=1000&q=80" alt="image" width="300px">
  </div>
  <div class="main-card_content">
    <h1 class="title">
      Nova versão do Angular!
    </h1>
    <p class="description">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum obcaecati facilis sint at nemo et ut voluptatibus esse, magnam cupiditate.
    </p>
  </div>

</div>